<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.board.mapper.BoardMapper">

	<select id="getLists" resultType="com.board.entity.Board">
		select * from board order  by idx desc
	</select>

	<insert id="boardInsert" parameterType="com.board.entity.Board">
		insert into board(title, content, writer) 
		values (#{title}, #{content}, #{writer})
	</insert>
	
	<select id="boardContent" parameterType="int" resultType="com.board.entity.Board">
		select * from board where idx=#{idx}
	</select>
	
	<delete id="boardDelete" parameterType="int">
		delete from board where idx=#{idx}
	</delete>
	
	<update id="boardUpdate" parameterType="com.board.entity.Board">
		update board set title=#{title}, content=#{content} 
		where idx=#{idx}
	</update>	
</mapper>